interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.basketball-reference.com/leagues/NBA_2001_games.html
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html data-version=\"klecko-\" data-root=\"/home/bbr/build\"
        lang=\"en\" class=\"no-js\" >\n<head>\n    <meta charset=\"utf-8\">\n    <meta
        http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, maximum-scale=2.0\" />\n
        \   <link rel=\"dns-prefetch\" href=\"https://cdn.ssref.net/req/202512181\"
        />\n<script>\n/* https://docs.osano.com/hc/en-us/articles/22469433444372-Google-Consent-Mode-v2
        \ */\n  window.dataLayer = window.dataLayer ||[];\n      function gtag(){dataLayer.push(arguments);}\n
        \     gtag('consent','default',{\n        'ad_storage':'denied',\n        'analytics_storage':'denied',\n
        \       'ad_user_data':'denied',\n        'ad_personalization':'denied',\n
        \       'personalization_storage':'denied',\n        'functionality_storage':'granted',\n
        \       'security_storage':'granted',\n        'wait_for_update': 500\n      });\n
        \     gtag(\"set\", \"ads_data_redaction\", true);\n</script>\n<script src=\"https://cmp.osano.com/16CGnCU8UtNhM14sg/12669873-8cf8-41e2-be1f-1cb803cbffe0/osano.js\"></script>\n<style>.osano-cm-widget{display:
        none;}</style> \n\n\n\n\n    <title>2000-01 NBA Schedule | Basketball-Reference.com</title>\n\n
        \   \n    \n    <meta name=\"Description\" content=\"Checkout the complete
        NBA schedule for the 2000-01 season including match dates, time, arena info,
        results and more on Basketball-Reference.com\">\n    <link rel=\"canonical\"
        href=\"https://www.basketball-reference.com/leagues/NBA_2001_games.html\"
        />\n\n\n<!-- include:start =\"/inc/klecko_header_bbr.html_f\" -->\n<!-- no:cookie
        fast lo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.basketball-reference.com/leagues/NBA_2001_games-november.html
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html data-version=\"klecko-\" data-root=\"/home/bbr/build\"
        lang=\"en\" class=\"no-js\" >\n<head>\n    <meta charset=\"utf-8\">\n    <meta
        http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, maximum-scal[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.basketball-reference.com/leagues/NBA_2001_games-december.html
  response:
    body:
      string: "\n<!DOCTYPE html>\n<html data-version=\"klecko-\" data-root=\"/home/bbr/build\"
        lang=\"en\" class=\"no-js\" >\n<head>\n    <meta charset=\"utf-8\">\n    <meta
        http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n    <meta name=\"viewport\"
        content=\"width=device-width, initial-scale=1.0, maximum-scal[...]
